/*POLICES DE CARACTERES */
@font-face {
    font-family: 'HARD_ROCK';
    src: url('../img/HARD_ROCK.ttf') format("truetype"), ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rocknroll_typo_crazy';
    src: url('../img/rocknroll_typo_crazy.ttf') format("truetype"), ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheDark';
    src: url('../img/TheDark.ttf') format("truetype"), ;
    font-weight: normal;
    font-style: normal;
}

/* GESTION DE LA NAVBAR */
.navbar-brand {
    font-size: 3rem;
}

.navbar-toggler-icon {
    filter: invert(100%);
    /* Rend l'icône blanche */
}

@keyframes mouvement {
    0% {
        /*debut animation*/
        transform: translateY(0);
        /*axe horizontal decalage vertical à 0*/
    }

    100% {
        /*fint animation*/
        transform: translateY(15px);
        /*axe horizontal decalage vertical à 15px*/
    }
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    animation: mouvement 0.3s ease-in-out forwards, grisrouge 0.3s ease-in-out forwards;
    color: white !important;
}

/* GESTION POLICES DE CARACTERES */
header {
    font-family: 'TheDark';
}

h2 {
    font-family: 'TheDark';
}

.btn {
    font-family: 'rocknroll_typo_crazy';
    font-size: 1.5rem;
}

/*OMBRES DE L ECLAIR ACDC */
i {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Ombre noire légère */
}

header i,
footer i {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    /* Ombre blanche */
}

/* GESTION COULEURS*/
body {
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 32%, rgba(0, 0, 0, 1) 32%, rgba(255, 0, 30, 1) 32%, rgba(255, 0, 30, 1) 67%, rgba(0, 0, 0, 1) 67%);
}

footer a {
    text-decoration: none;
    color: white;
}

/* GESTION IMAGES MEMBRES DU GROUPE*/
.membres img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* GESTION FORMULAIRE DE CONTACT*/
/* Personnalisation du placeholder */
.form-control::placeholder {
    color: #dc3545;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'rocknroll_typo_crazy';
}

/* MEDIA QUERIES POUR MOBILE */
@media screen and (max-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .custom-navbar {
        height: 80px;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        z-index: -1;
    }

    #carousel1 {
        display: none;
    }
    #carousel2 {
        padding-top: 20%;
    }
    
}


/* MEDIA QUERIES POUR GRANDS ECRANS */
@media screen and (min-width: 992px) {
    .custom-navbar {
        height: 120px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 3rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #carousel2 {
        display: none;
    }
    #carousel1 {
        padding-top: 8%;
    }
}
/* MEDIA QUERIES POUR MOYENS ECRANS */
@media screen and (min-width: 577px) and (max-width: 991px) {
    #carousel1 {
        display: none;
        padding-top: 10%;
        margin-top: 10%;
    }
    
}